/**
 * Main stylesheet
 *
 * @author geoffroy.perriard@gmail.com
 *
 */
@import '../../../../../vendor/bundles/Mopa/BootstrapBundle/Resources/public/less/m‌​opabootstrapbundle';
@import "dashboard.less";
@import "overview.less";
@import "spritesheet.less";
@import "responsive.less";

// General space beetween each section
@whitespace-general: 20px;

// Property of fixed section
@notifications-width: 500px;
@navigation-width: @notifications-width/2;

#main-content {
	padding: 0;
	background-color: white;
}

.clear {
	clear: both;
}
