@media (max-width: 960px) {

	#main-content {
		#dashboard {

			#notifications { 
				float: none;
				width: auto;
				padding: 10px 10px 0 10px;

				.notification {
					margin: 0 0 10px 0;
				}

				.followed {
					float: none;
					width: auto;
					display: block;
					margin: 0;

					&:after {
						clear: both;
					}
				}

				.general {
					float: none;
					width: auto;
					display: block;
					margin: 0;

					&:after {
						clear: both;
					}
				}
			}

			#posts-it {
				margin: 0;
				padding: 10px 10px 0 10px;

				.post-it {
					float: none;
					width: auto;
					display: block;
					width: auto;
					margin: 0 0 10px 0;

					&:after {
						clear: both;
					}
				}
			}
		}

		#overview {
			#navigation {
				float: none;
				width: auto;
				display: block;
				padding: 0;
				margin: 0;
			}

			#streamline {
				margin: 0;
				padding: 0;

				#summary {
					float: none;
					width: auto;
					display: block;
					padding: 10px 10px 0 10px;

					#users {
						float: none;
						width: auto;
						display: block;				
					}
				}

				#tasks {
					float: none;
					width: auto;
					display: block;

					.status {
						margin: 0;
					}

					.task {
						border-radius: 0 4px 4px 0;
						float: none;
						width: auto;
						display: block;
						margin: 0 10px 10px 10px;	
					}
				}

				#notes {
					float: none;
					width: auto;
					display: block;	
					padding: 10px 10px 0 10px;

					.note {
						float: none;
						width: auto;
						display: block;
						margin: 0 0 10px 0;
					}	
				}
			}
		}
	}
}
