/**
 * Main stylesheet
 *
 * @author geoffroy.perriard@gmail.com
 *
 */

/*@import "datepicker.less";*/
/*@import "../vendor/bundles/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";*/


a {
	text-decoration: none;
}

body, html {
	height: 100%;
}

body{
	font-size: 81.25%;
	overflow-x: hidden;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	background: #4d4b45;
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
}

.navbar .brand {
	background: transparent url("/bundles/btaskboard/img/logo.png") left 6px no-repeat;
	margin-left: 14px;
	float: left;
	display: block;
	padding: 40px 0 0 89px;
	width: 0;
	height: 0;
	overflow: hidden;
}

.container-fluid {
	padding: 0;
}

#main-content {
	margin-top: 40px;

	#dashboard {
		position: relative;
		z-index: 1;
		padding: 17px 0 14px 14px;
		background: #4d4b45;

		#notifications {
			float:right;
		}
		#post-it {
			margin-right: 304px;

			.post-it {
				float: left;
				position: relative;
				width: 200px;
				height: 120px;
				margin: 0 20px 20px 0;
				padding: 13px 13px 20px 12px;
				overflow: visible;
				background-color: #FCF8E3;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				-moz-box-shadow: 0px 3px 7px #000000;
				-webkit-box-shadow: 0px 3px 7px #000000;
				box-shadow: 0px 3px 7px #000000;
				color: #4d4b45;

				a.button.edit {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 0;
					height: 0;
					overflow: hidden;
					padding: 32px 0 0 34px;
					background: transparent url("/bundles/btaskboard/img/sprite_postit.png") center -88px no-repeat;

					&:hover {
						background-position: center -138px;
					}
				}


				a.button.close {
					position: absolute;
					width: 100%;
					left: 0;
					height: 0;
					overflow: hidden;
					bottom: -15px;
					padding: 32px 0 0 0;
					background: transparent url("/bundles/btaskboard/img/sprite_postit.png") center top no-repeat;
					opacity: 1;
					filter: alpha(opacity=100);
					opacity: 1;
					filter: alpha(opacity=100);
					float: none;

					&:hover {
						background-position: center -40px;
					}
				}

				form {
					position: relative;

					textarea {
						width: 100%;
						height: 50px;
						margin-bottom: 5px;
					}

					fieldset#ftype {
						display:none;
					}

					input[type=reset], input[type=submit]{
						-moz-border-radius: 1px;
						-webkit-border-radius: 1px;
						border-radius: 1px;
						border: 1px solid #9c9ea0;
						margin: 6px 0 0 25px;
						-moz-box-shadow: inset 1px 1px 1px #f5f6f7;
						-webkit-box-shadow: inset 1px 1px 1px #f5f6f7;
						box-shadow: inset 1px 1px 1px #f5f6f7;
						/*Inner elements should not cover inner shadows*/
						/*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
						/*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#e1e5e9', endColorstr = '#c9cbce');*/
						/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
						/*Element must have a height (not auto)*/
						/*All filters must be placed together*/
						/*-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#e1e5e9', endColorstr = '#c9cbce')";*/
						/*Element must have a height (not auto)*/
						/*All filters must be placed together*/
						background-image: -moz-linear-gradient(top, #e1e5e9, #c9cbce);
						background-image: -ms-linear-gradient(top, #e1e5e9, #c9cbce);
						background-image: -o-linear-gradient(top, #e1e5e9, #c9cbce);
						background-image: -webkit-gradient(linear, center top, center bottom, from(#e1e5e9), to(#c9cbce));
						background-image: -webkit-linear-gradient(top, #e1e5e9, #c9cbce);
						background-image: linear-gradient(top, #e1e5e9, #c9cbce);
						/*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/
						opacity: 0.8;
						/*-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 80);*/
						/*-ms-filter must come before filter*/
						/*filter: alpha(opacity = 80);*/
						/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
						/*All filters must be placed together*/

						&:hover{
							background: #ffffff;
						}
					}

					.panel{
						position:absolute;
						right: -306px;
						top: -13px;
						width:250px;
						padding: 0 16px 16px 16px;
						border:solid 3px #4d4b45;
						z-index: 1;

						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;
						/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
						-moz-box-shadow: 0px 1px 8px #4d4b45;
						-webkit-box-shadow: 0px 1px 8px #4d4b45;
						box-shadow: 0px 1px 8px #4d4b45;
						/*filter: progid: DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');*/
						/*-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";*/
						/*Shadows look very different in IE (Only cardinal directions supported)*/
						/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
						/*Element should have a background-color*/
						/*All filters must be placed together*/
						/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
						/*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#bdb9ad', endColorstr = '#a49f93');*/
						/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
						/*Element must have a height (not auto)*/
						/*All filters must be placed together*/
						/*-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#bdb9ad', endColorstr = '#a49f93')";*/
						/*Element must have a height (not auto)*/
						/*All filters must be placed together*/
						background-image: -moz-linear-gradient(top, #bdb9ad, #a49f93);
						background-image: -ms-linear-gradient(top, #bdb9ad, #a49f93);
						background-image: -o-linear-gradient(top, #bdb9ad, #a49f93);
						background-image: -webkit-gradient(linear, center top, center bottom, from(#bdb9ad), to(#a49f93));
						background-image: -webkit-linear-gradient(top, #bdb9ad, #a49f93);
						background-image: linear-gradient(top, #bdb9ad, #a49f93);
						-moz-background-clip: padding;
						-webkit-background-clip: padding-box;
						background-clip: padding-box;
						/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
						/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/


						.tabs {
							margin-bottom: 12px;

							a {
								position: relative;
								width: 142px;
								display: inline-block;
								margin: -4px 0 0 -16px;
								text-align: center;
								padding: 4px 0;
								color: #cbcac5;
								text-transform: uppercase;
								font-size: 0.846em;
								background-image: -moz-linear-gradient(top, #7e7d79, #646360);
								background-image: -ms-linear-gradient(top, #7e7d79, #646360);
								background-image: -o-linear-gradient(top, #7e7d79, #646360);
								background-image: -webkit-gradient(linear, center top, center bottom, from(#7e7d79), to(#646360));
								background-image: -webkit-linear-gradient(top, #7e7d79, #646360);
								background-image: linear-gradient(top, #7e7d79, #646360);
								-moz-border-radius: 3px 3px 0px 0px;
								-webkit-border-radius: 3px 3px 0px 0px;
								border-radius: 3px 3px 0px 0px;
								border-bottom: 1px solid #cbc8be;
								margin-bottom: 10px;
								text-shadow: none;

								&:hover {
									background: #9e9b8e;
									color: #4d4b45;
									text-shadow: none;
									text-decoration: none;
								}
							}

							a.active {
								background: #bdb9ad;
								color: #4d4b45;
								margin: -6px 0 0 -16px ;
								padding: 6px 0 4px 0;
								z-index: 1;
							}

							a.right {
								margin-right: -16px;
								float: right;
							}
						}

						.bound{
							position: absolute;
							width: 0;
							height: 0;
							padding: 137px 0 0 3px;
							margin: 8px 0 0 -22px;
							background: url("/bundles/btaskboard/img/bound.png") left top no-repeat;
						}

						input.date {
							width: 110px;
						}

						input, textarea {
							border: 1px solid #928e84;
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
							border-radius: 3px;
							-moz-box-shadow: inset 1px 1px 2px #cfcdca;
							-webkit-box-shadow: inset 1px 1px 2px #cfcdca;
							box-shadow: inset 1px 1px 2px #cfcdca;
							color: #4d4b45;
							padding: 4px;
							float: right;
						}

						input {
							vertical-align: center;
						}

						input[type=radio], input[type=checkbox]{
							float: none;
							padding: 0 3px;
						}

						label {
							display: inline;
							font-weight: bold;
							font-size: 0.923em;
							line-height: 30px;
							padding-right: 7px;
							margin-bottom: 1px;
						}
						input.larger{
							width: 165px;
						}

						label.bloc {
							display: block;
						}

						input:hover, textarea:hover {
							background-color:#e9e7e4;
						}

						input:focus, textarea:focus {
							background-color:#8c8a84;
							color: #ffffff;
							outline-color: #f5e7b8;
							border-color: #f5e7b8;
						}
					}
				}

			}
		}
	}

	#overview {
		position: relative;

		#navigation {
			float: right;
			position: absolute;
			top: 0;
			bottom: 0;
			right: -17px;
			width: 304px;
			overflow: scroll;
			overflow-x: hidden;
			background-color: #efeee8;
			-moz-box-shadow: 0px 0px 25px #bfbdb8;
			-webkit-box-shadow: 0px 0px 25px #bfbdb8;
			box-shadow: 0px 0px 25px #bfbdb8;

			a{
				font-size: 1.077em;
			}

			.workgroup-create {
				padding: 14px;
				text-align: center;
			}
			.workgroup {
				margin-top: -12px;

				.header {
					padding: 10px 0 0 0;
					position: relative;
					background: transparent url("/bundles/btaskboard/img/sprite_nav.png") left -150px no-repeat;

					form {
						padding: 14px;
						width: 100%;
						input[type="text"] {
							display: block;
							width: 86%;
						}
						input.btn {
							margin: 0 0 0 14px;
						}
					}

					.title {
						display: inline-block;
						padding: 16px 38px 16px 16px;
						text-transform: uppercase;
						font-weight: bold;
						color: #4d4b45;
						background: transparent url("/bundles/btaskboard/img/sprite_nav.png") right 15px no-repeat;
					}

					.controls {
						display: none;
						float: right;
						text-transform: none;
						font-weight: normal;
						cursor: pointer;
						z-index: 1;

						.btn.dropdown-toggle {
							background: transparent url("/bundles/btaskboard/img/sprite_nav.png") left -50px no-repeat;
							padding: 38px 0 0 56px;
							display: block;
							position: absolute;
							right: 0;
							border: none;
							width: 0;
							height: 0;
							top: 4px;

							&:hover {
								background-position: left top;
							}

							span.caret {
								display: none;
							}
						}

						.pull-right {
							padding: 9px 0;

							li a{
								padding: 5px 15px;

								&:hover{
									background: #e3e1d6;
									color: #4d4b45;
								}
							}

						}
					}

					&:hover .controls {
						display: block;
					}
				}

				.collapse {
					position: relative;
					overflow: hidden;

					.projects {
						padding: 2px;

						.project {
							display: block;
							margin-top: 2px;
							padding: 11px 14px;
							background-color: #A0B8DE!important;
							color: #383734;

							label {
								display: none;
							}

							input {
								width: 96%;
							}
						}

						form #navigation-panel{
							text-align: center;
							padding-top: 9px;

							input {
								margin: 0 10px;
							}
						}
					}
				}
			}
		}

		#content {

			a {
				color: #4C4B45;
				font-weight: bold;
			}
			#streamline {
				margin-right: 275px;
				padding: 17px 25px 14px 14px;

				#title {
					padding: 0 20px 16px 0;

					h2 {
						margin: 5px 0 0 137px;

						select {
							float: right;

						}
					}
				}

				#tasks {
					border: none;

					#summary {

						h2 {
							margin: 5px 0 0 137px;

							em{
								font-size: 0.5em;
							}
						}
					}

					.status{
						padding: 0 20px 16px 0;
						margin-bottom: 4px;
						background: transparent url("/bundles/btaskboard/img/task_pannel.png") center bottom no-repeat;
						border: none;

						.task {
							border: none;
						}
						.title.accordion-heading {
							padding-left: 137px;
							font-size: 1.077em;
							line-height: 22px;
							text-transform: uppercase;
							a {
								display: block;
								padding: 10px 5px 10px 30px;
								background: transparent url("/bundles/btaskboard/img/sprite_task.png") left -156px no-repeat;

							}

						}

						.accordion-inner {
							border: none;
							padding: 4px 10px 4px ;

							.accordion {
								margin-bottom: 2px;
							}
						}

						.accordion-inner .task {
							position: relative;
							padding: 5px 10px;
							margin: 0 0 4px 125px;
							height: auto;
							line-height: 22px;
							border: 1px solid #bfbeb8;
							background: transparent url("/bundles/btaskboard/img/task_shadow.png") center bottom no-repeat;
							/*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#efeee8', endColorstr = '#dfded8');*/
							-moz-border-radius: 2px;
							-webkit-border-radius: 2px;
							border-radius: 2px;
							/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
							/*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#efeee8', endColorstr = '#dfded8');*/
							/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
							/*Element must have a height (not auto)*/
							/*All filters must be placed together*/
							/*-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#efeee8', endColorstr = '#dfded8')";*/
							/*Element must have a height (not auto)*/
							/*All filters must be placed together*/
							background-image: -moz-linear-gradient(top, #efeee8, #dfded8);
							background-image: -ms-linear-gradient(top, #efeee8, #dfded8);
							background-image: -o-linear-gradient(top, #efeee8, #dfded8);
							background-image: -webkit-gradient(linear, center top, center bottom, from(#efeee8), to(#dfded8));
							background-image: -webkit-linear-gradient(top, #efeee8, #dfded8);
							background-image: linear-gradient(top, #efeee8, #dfded8);
							/*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/

							.accordion-inner {
								padding: 0;
							}

							h5 {
								padding-left: 22px;
							}

							h6 {
								display: none;
							}

							em.duedate {
								position: absolute;
								left: -130px;
								padding-right: 18px;
								width: 105px;
								text-align: right;
								background: url("/bundles/btaskboard/img/sprite_task.png") right -124px no-repeat;
							}
							.underling {
								display: none;
							}

							.edit {
								float:left;
								width: 0;
								height: 0;
								overflow: hidden;
								margin: -5px 0 0 -10px;
								padding: 26px 0 0 26px;
								background: url("/bundles/btaskboard/img/sprite_task.png") 3px 5px no-repeat;

								&:hover {
									border: 1px solid #968f87;
									margin: -5px 0 0 -7px;
								}
							}

							.accordion-toggle {
								position: absolute;
								top: 0;
								right: 30px;
								width: 0;
								height: 0;
								overflow: hidden;
								padding: 29px 0 0 29px;
								background: url("/bundles/btaskboard/img/sprite_task.png") 3px -201px no-repeat;
							}

							.btn.close {
								opacity: 1;
								filter: alpha(opacity=100);
								opacity: 1;
								filter: alpha(opacity=100);
								position:absolute;
								right: -1px;
								bottom: -2px;
								width: 100%;
								margin-left: -13px;
								width: 0;
								height: 0;
								padding: 29px 0 0 29px;
								background: #e0b98b url("/bundles/btaskboard/img/sprite_task.png") left -35px no-repeat;
								-moz-border-radius: 1px;
								-webkit-border-radius: 1px;
								border-radius: 1px;

								&:hover {
									background-position: left -74px;
								}
							}

							.btn.reopen {
								opacity: 1;
								filter: alpha(opacity=100);
								opacity: 1;
								filter: alpha(opacity=100);
								position:absolute;
								right: -1px;
								bottom: -2px;
								width: 100%;
								margin-left: -13px;
								width: 0;
								height: 0;
								padding: 29px 0 0 29px;
								background: #e0b98b;
								-moz-border-radius: 1px;
								-webkit-border-radius: 1px;
								border-radius: 1px;
							}


							&:hover {
								background: #ffffff;
							}
						}

						#overdue {
							color: #e0584f;

							.task {
								background-image: -moz-linear-gradient(top, #e1675e, #d76259);
								background-image: -ms-linear-gradient(top, #e1675e, #d76259);
								background-image: -o-linear-gradient(top, #e1675e, #d76259);
								background-image: -webkit-gradient(linear, center top, center bottom, from(#e1675e), to(#d76259));
								background-image: -webkit-linear-gradient(top, #e1675e, #d76259);
								background-image: linear-gradient(top, #e1675e, #d76259);

								.accordion-body{
									color: #ffffff;
								}

								h5 {
									color: #ffffff;
								}

								.edit {
									background: url("/bundles/btaskboard/img/sprite_task.png") 3px -245px no-repeat;

									&:hover {
										background-position: left 5px;
										border: none;
									}
								}

								&:hover {
									background-image: -moz-linear-gradient(top, #bb4d45, #ad4740);
									background-image: -ms-linear-gradient(top, #bb4d45, #ad4740);
									background-image: -o-linear-gradient(top, #bb4d45, #ad4740);
									background-image: -webkit-gradient(linear, center top, center bottom, from(#bb4d45), to(#ad4740));
									background-image: -webkit-linear-gradient(top, #bb4d45, #ad4740);
									background-image: linear-gradient(top, #bb4d45, #ad4740);
								}
							}
						}
					}
				}
			}
		}
	}
}

@import "responsive.less";
