/**
 * Main stylesheet
 *
 * @author geoffroy.perriard@gmail.com
 *
 */
@import "dashboard.less";
@import "overview.less";
@import "spritesheet.less";
@import "responsive.less";
@import "../vendor/bundles/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";
// General space beetween each section
@whitespace-general: 20px;

// Property of fixed section
@notifications-width: 500px;
@navigation-width: @notifications-width/2;

#main-content {
	padding: 0;
	margin-top: 40px;
	background-color: white;
}

.clear {
	clear: both;
}
