/**
 * Special style for different terminal
 *
 * @author geoffroy.perriard@gmail.com
 *
 */

@media (min-width: 960px) {

}

@media (max-width: 960px) {
	body {
		padding: 0;
	}

	.navbar {
		margin-bottom: 0;

		.container-fluid {
			padding: 0 20px;
		}
	}

	#main-content {
		margin-top: 0;


		#dashboard {
			padding: 20px 20px 0 20px;

			#post-it  {
				margin-right: 0;

				.post-it {
					float: none;
					width: auto;
					display: block;
					margin-right: 40px;
				}
			}
		}

		#overview {
			#navigation {
				position: relative;
				right: 0;
				top: 0;
				float: none;
				width: auto;
				display: block;

				overflow-y: hidden;
			}

			#content {
				#streamline {
				    margin-right: 0;
				    padding: 0;
				}
			}
		}
	}
}
