# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/assets/*
vendor/*

# Configuration files
app/config/parameters.ini

# IDE directories and files
build/
nbproject/
