{% extends '::base.html.twig' %}
{% block body %}
<div class="row-fluid">
	<div class="span4">
		<h2>Overdue tasks</h2>
		<div id="overdue" class="accordion">
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task1" data-parent="#overdue" data-toggle="collapse" class="accordion-toggle">Task 1</a>
				</div>
				<div class="accordion-body collapse in" id="task1">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task2" data-parent="#overdue" data-toggle="collapse" class="accordion-toggle">Task 2</a>
				</div>
				<div class="accordion-body collapse" id="task2">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task3" data-parent="#overdue" data-toggle="collapse" class="accordion-toggle">Task 3</a>
				</div>
				<div class="accordion-body collapse" id="task3">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task4" data-parent="#overdue" data-toggle="collapse" class="accordion-toggle">Task 4</a>
				</div>
				<div class="accordion-body collapse" id="task4">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task5" data-parent="#overdue" data-toggle="collapse" class="accordion-toggle">Task 5</a>
				</div>
				<div class="accordion-body collapse" id="task5">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
      	</div>
	</div>
	<div class="span4">
				<h2>Opened tasks</h2>
		<div id="opened" class="accordion">
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task6" data-parent="#opened" data-toggle="collapse" class="accordion-toggle">Task 6</a>
				</div>
				<div class="accordion-body collapse" id="task6">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task7" data-parent="#opened" data-toggle="collapse" class="accordion-toggle">Task 7</a>
				</div>
				<div class="accordion-body collapse" id="task7">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task8" data-parent="#opened" data-toggle="collapse" class="accordion-toggle">Task 8</a>
				</div>
				<div class="accordion-body collapse" id="task8">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task9" data-parent="#opened" data-toggle="collapse" class="accordion-toggle">Task 9</a>
				</div>
				<div class="accordion-body collapse" id="task9">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
            <div class="accordion-group">
				<div class="accordion-heading">
					<a href="#task10" data-parent="#opened" data-toggle="collapse" class="accordion-toggle">Task 10</a>
				</div>
				<div class="accordion-body collapse" id="task10">
					<div class="accordion-inner">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
            </div>
      	</div>
	</div>
	<div class="span4">
		<h2>Closed tasks</h2>
		<div id="closed" class="accordion">
            <div id="task-group11" class="accordion-group">
				<div class="accordion-heading meta">
					<span class="workgroup" style="background-color: #B94A48;">&nbsp;</span>
					<span class="project">Project</span>
					<span class="title">Title</span>
					<div class="action">
						<a href="#" class="btn delete">Delete</a>
						<a href="#task11" data-parent="#opened" data-toggle="collapse" class="btn edit">Edit</a>
					</div>
				</div>
				<div class="accordion-body collapse" id="task11">
					<div class="accordion-inner bla">
						<input class="title" type="text" value="The title"/><br/>
						<textarea class="description">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</textarea>
						<button class="btn">Update</button>
					</div>
				</div>
            </div>
      	</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts output="assets/sys-javascripts.js"
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    $(function() {
        $( "#overdue" ).sortable({connectWith:['#opened', '#closed']});
        $( "#opened" ).sortable({connectWith:['#overdue', '#closed']});
        $( "#closed" ).sortable({connectWith:['#overdue','#opened']});
    });
    </script>
{% endblock %}
