<div id="panel-item">
    <div id="option-item-type">
        <input id="rdb-task-type" type="radio" value="Task" name="rdb-item-type" checked="checked"/>
        <input id="rdb-note-type" type="radio" value="Note" name="rdb-item-type" />
    </div>
    <div id="options">
    </div>
</div>
