<div class="note alert-info" data-id="{{ note.id }}">
    <a class="close" data-dismiss="alert" href="#">×</a>
	{{ note.subject }}
	<a class="btn edit" href="#">{{ 'dashboard.note.edit'|trans }}</a>
</div>
