{% extends "::base.html.twig" %}
{% block navbar %}
<ul class="nav">
    <li><a class="post-it add" href="#">{% trans %}+{% endtrans %}</a></li>
</ul>
<ul class="nav pull-right">
    <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
</ul>
{% endblock %}

{% block body %}
<div id="dashboard" class="row-fluid">
    <div id="notifications">
    </div>
    <div id="post-it">
    </div>
</div>
<div id="overview" class="row-fluid">
    {% include 'BtaskBoardBundle:Default:navigation.html.twig' %}
    <div id="content"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output="assets/tesst-javascripts.js"
        '@BtaskBoardBundle/Resources/public/js/main.js'
        '@BtaskBoardBundle/Resources/public/js/dashboard.js'
        '@BtaskBoardBundle/Resources/public/js/navigation.js'
        '@BtaskBoardBundle/Resources/public/js/tasks.js'
        '@BtaskBoardBundle/Resources/public/js/notes.js'
        '@BtaskBoardBundle/Resources/public/js/bootstrap-datepicker.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    $(function() {
        $('#navigation').show();
    });
    </script>
{% endblock %}
