<div id="navigation">
	<div id="workgroups" data-collapse-type="manual">
	</div>
	<div id="workgroup-create">
		<a class="btn" href="#">{% trans %}navigation.workgroup.add{% endtrans %}</a>
	</div>
</div>
