<div id="streamline">
    <div id="tasks" class="accordion" data-collapse-type="manual">
        <div class="status accordion-group">
            <div class="title accordion-heading">
                <a href="#overdue" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.overdue' | trans }}</a>
            </div>
            <div id="overdue" class="accordion-body collapse-content in">
                <div class="accordion-inner">
                    <div id="overdue-tasks" class="accordion list" data-collapse-type="manual">
                    </div>
                </div>
            </div>
        </div>
        <div id="summary">
            <h2>Today <em>{{ "now"|date("d F Y") }}</em></h2>
        </div>
        <div class="status accordion-group">
            <div class="title accordion-heading">
                <a href="#planned" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.planned' | trans }}</a>
            </div>
            <div id="planned" class="accordion-body collapse-content in">
                <div class="accordion-inner">
                    <div id="planned-tasks" class="accordion list" data-collapse-type="manual">
                    </div>
                </div>
            </div>
        </div>
        <div class="status accordion-group">
            <div class="title accordion-heading">
                <a href="#done" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.done' | trans }}</a>
            </div>
            <div id="done" class="accordion-body collapse-content in">
                <div class="accordion-inner">
                    <div id="done-tasks" class="accordion list" data-collapse-type="manual">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
